[submodule "lib/moai-dev"]
	path = lib/moai-dev
	url = https://github.com/theypsilon/moai-dev.git
	ignore = dirty
[submodule "lib/hanappe"]
	path = lib/hanappe
	url = https://github.com/theypsilon/Hanappe.git
	ignore = dirty
[submodule "lib/inspect"]
	path = lib/inspect
	url = git://github.com/kikito/inspect.lua.git
	ignore = dirty
[submodule "lib/ATL"]
	path = lib/ATL
	url = https://github.com/Kadoba/Advanced-Tiled-Loader.git
